
clusterName: better
roles:
  # string, not boolean!
  master: "true"
  ingest: "true"
  data: "true"

imageTag: "7.3.0"

replicas: 1

resources:
  requests:
    cpu: 0.1
    memory: 500Mi
  limits:
    cpu: 2
    memory: 2Gi

volumeClaimTemplate:
  resources:
    requests:
      storage: 10Gi